<form
  tal:attributes="id widget.name or None"
  action="${widget.action}"
  class="wufoo"
  method="${widget.method}"
  enctype="multipart/form-data"
  accept-charset="utf-8">

  <!-- form.html -->

  <input type="hidden" name="_charset_" />
  <input type="hidden" name="__deform__" value="${widget.name}"/>
  <ul>

    <li id="errorLi" tal:condition="widget.error">
      <h3 id="errorMsgLbl">There was a problem with your submission</h3>
      <p id="errorMsg">Errors have been <strong>highlighted</strong> below.
      </p>
    </li>

    <li class="section first" tal:condition="widget.title">
      <h3>${widget.title}</h3>
      <div tal:condition="widget.description">${widget.description}</div>
    </li>

    <div 
       tal:define="rndr widget.renderer;
                   tmpl widget.item_template"
       tal:repeat="w widget.widgets"
       tal:replace="structure rndr(tmpl,widget=w,cstruct=cstruct.get(w.name))"/>

    <li class="buttons">
      <tal:block repeat="button widget.buttons">
          <button 
             name="${button.name}"
             type="submit"
             class="btnText submit"
             value="${button.value}">
            <span>${button.title}</span>
          </button>
      </tal:block>
    </li>

  </ul>

</form>
