[run]
branch = False
source = codecov

[report]
# These are being stressed out in deformdemo package
omit =
    deform/schema.py
    deform/renderer.py
    deform/checkbox_32bb822ccaed554768253405d5135c00.py
