[run]
source =
    deform
omit =
    deform/[a-z]*_[a-z0-9]*.py


[paths]
source =
    deform

[report]
omit =
    deform/renderer.py
    deform/schema.py
    deform/[a-z]*_[a-z0-9]*.py
    /tmp/[a-z]*_[a-z0-9]*.py
