*.egg
*.egg-info
.eggs/
*.pyc
*$py.class
*.pt.py
*.txt.py
*~
.*.swp
.coverage
.coverage.*
.tox/
nosetests.xml
coverage.xml
nosetests-*.xml
py*-cover.xml
build/
dist/
bin/
lib/
include/
.idea/
deformdemo_functional_tests