.wufoo .req{
   color: red;
}

.wufoo label.desc{
    display: block;
    font-weight:bold;
}

.wufoo ul {
    margin: 0;
    padding: 0;
}

.wufoo li {
    clear: left;
    display: block;
    margin: 6px 0px;
    padding: 3px;
}

/* deform additions*/

.deformClosebutton {
   border: 0;
   cursor: pointer;
   float: left;
   /* width: 1em; */
   /* height: 1em; */
   /* margin: .5em; */
}

.deformClosebutton:before {
    content:"✖";
    color:red;
    margin-right: 2px;
}

a.deformSeqAdd:visited {
   color: blue;
}

div.deformReplaces {
    float: left;
}

.deformSet-item {
    padding: 1px;
}

.wufoo ul.inline > li{
    display:inline-block;
}

/* error handling */
.wufoo .errorLi {
    border:1px solid red;
    text-align: center;
    -webkit-border-radius:20px;
    -moz-border-radius:20px;
}

.wufoo li.error{
    background-color: #FFDFDF;
}

.wufoo li.error label.desc, .wufoo p.error, wufoo h3.errorMsgLbl{
    color: #DF0000;
}

.wufoo p.error{
    font-size: 70%;
}
