/* - - - - - - - - - - - - - - - - - - - - -

Title : Wufoo Form Framework
Author : Infinity Box Inc.
URL : http://wufoo.com

Last Updated : July 2, 2009

- - - - - - - - - - - - - - - - - - - - - */

.wufoo{
	font-family:"Lucida Grande", Tahoma, Arial, sans-serif;
}
.wufoo li{
/* 	width:62%; */
	width:85%;
}
form ul{
	margin:0;
	padding:0;
	list-style-type:none;
	width:100%;
}
form li{
	display:block;
	margin:0;
	padding:6px 5px 9px 9px;
        clear: left;
/* 	clear:both; */
}
form li:after, form li div:after{
	content:".";
	display:block;
	height:0;
/* 	clear:both; */
        clear:left;
	visibility:hidden;
}
* html form li{height: 1%;}
* html form li div{display:inline-block;}
*+html form li div{display:inline-block;}

form li div, form li span{
	margin:0 .3em 0 0;
	padding:0;
	color:#444;
}
form li span{
	float:left;
}

.center,
form li span.center input.text, form li span.center label,
form li.name span label,
form li.date input.text, form li.date span label,
form li.phone input.text, form li.phone span label,
form li.time input.text, form li.time span label{
	text-align:center;
}
form li.time select.select{
	margin-left:5px;
}

form li div.col span{
	display:block;
	width:100%;
	float:left;
	padding:0;
}
li.twoColumns div.col span{
	width:48%;
	margin:0 5px 0 0;
}
li.threeColumns div.col span{
	width:30%;
	margin:0 5px 0 0;
}
li.notStacked div.col span{
	width:auto;
	margin:0 7px 0 0;
}


form li.complex{
	padding-bottom:0;
}
form li div span.left, form li div span.right{
	margin:0;
	width:47%;
}
form li div span.full input,
form li div span.full select,
form li div span.left input,
form li div span.right input,
form li div span.left select,
form li div span.right select{
	width:100%;
}

/* .left{ */
/* 	float:left; */
/* } */
/* .right{ */
/* 	float:right; */
/* } */
/* .clear{ */
/* 	clear:both !important; */
/* } */

/* ----- INFO ----- */

.info{
	display:inline-block; 
	clear:both;
	border-bottom:1px dotted #ccc;
	margin:0 0 5px 0;
}
.info[class]{
	display:block;
}
.info h2{
	font-weight:normal;
	font-size:160%;
	margin:0 0 .2em 0;
	clear:left;
}
.info div{
	font-size:95%;
	line-height:135%;
	margin:0 0 1.1em 0;
	color:#555;
}

/* ----- SECTIONS ----- */

form li.section{
	clear:both;
	border-top:1px dotted #ccc;
	padding-top:.9em;
	padding-bottom:0px;
	padding-left:9px;
	width:97% !important;
	position:static;
}
form ul li.first{
	border-top:none !important;
	margin-top:0px !important;
}
form .section h3{
	font-weight:normal;
	font-size:110%;
	line-height:135%;
	margin:0 0 .2em 0;
}
form .section div{
	display:block;
	font-size:85%;
	margin:0 0 1.2em 0;
	padding:0;
}

/* ----- LIKERT SCALE ----- */

form li.likert{
	width:97% !important;
	clear:both !important;
	float:none !important;
}
.likert table{
	margin:0 0 .9em 0;
	background:#fff;
	width:100%;
	border:1px solid #dedede;
	border-bottom:none;
}
.likert caption{
	text-align:left;
	color:#222;
	font-size:95%;
	line-height:135%;
	padding:5px 0 .5em 0;
}
.likert input{
	padding:0;
	margin:2px 0;
}
.likert tbody td label{
	font-size:85%;
	display:block;
	color:#565656;
}

/* ----- Top Row ----- */

.likert thead td, .likert thead th{
	background-color:#e6e6e6;
}

/* ----- Right Side ----- */

.likert td{
	border-left:1px solid #ccc;
	text-align:center;
	padding:4px 6px;
}
.likert thead td{
	font-size:85%;
	padding:10px 6px;
}

/* ----- Body ----- */

.likert th, .likert td{
	border-bottom:1px solid #dedede;
}
.likert tbody th{
	padding:8px 8px;
	text-align:left;
}
.likert tbody th label{
	color:#222;
	font-size:95%;
	font-weight:bold;
}

.likert tbody tr.alt td, .likert tbody tr.alt th{
	background-color:#f5f5f5;
}
.likert tbody tr:hover td, .likert tbody tr:hover th{
	background-color:#FFFFCF;
}

/* ----- Likert Classes ----- */

.col1 td{width:30%;} 
.col2 td{width:25%;}
.col3 td{width:18%;}
.col4 td{width:14.5%;}
.col5 td{width:12%;}
.col6 td, .col7 td{width:10%;}
.col8 td, .col9 td, .col10 td{width:6.5%;}
.col11{width:6%;}

.hideNumbers tbody td label{
	display:none;
}

/* ----- LABELS ----- */

form li div label, form li span label{
	margin:0;
	padding-top:6px;
	clear:both;
	font-size:85%;
	line-height:100%;
	color:#444;
	display:block;
}
form li div span label{
	padding-bottom:12px;
}
label.desc{
	font-size:95%;
	font-weight:bold;
	color:#222;
	line-height:150%;
	margin:0;
	padding:0 0 3px 0;
	border:none;
	display:block;
}
label.choice{
	display:block;
	font-size:100%;
	line-height:150%;
	margin:-17px 0 0 23px;
	padding:0 0 5px 0;
	color:#222;
	width:88%;
}
.safari label.choice{
	margin-top:-16px;
}
form.rightLabel div.col{
	margin-top:-3px;
}

span.symbol{
	font-size:120%;
	line-height:135%;
}
form li .datepicker{
	float:left;
	margin:.19em 5px 0 0;
	padding:0;
	width: 16px;
	height: 16px;
	cursor:pointer !important;
}

/* ----- MIN/MAX COUNT ----- */

form li div label var{
	font-weight:bold;
	font-style:normal;
}
form li div label .currently{
	display:none;
}

/* ----- FIELDS ----- */

input.text, input.search, input.file, textarea.textarea, select.select{
	font-family:"Lucida Grande", Tahoma, Arial, sans-serif;
	font-size:100%;
	color:#333;
	margin:0;
	padding:2px 0;
}
input.text, input.search, textarea.textarea{
	border-top:1px solid #7c7c7c;
	border-left:1px solid #c3c3c3;
	border-right:1px solid #c3c3c3;
	border-bottom:1px solid #ddd;
	background:#fff url(../images/fieldbg.gif) repeat-x top;
}
select.select{
	padding:1px 0 0 0;
}
input.search{
	-webkit-border-radius:10px;
	-moz-border-radius:10px;
	padding-left:6px;
}
input.checkbox, input.radio{
	display:block;
	margin:4px 0 0 0;
	padding:0;
	width:13px;
	height:13px;
}
input.other{
	margin:0 0 8px 25px;
}

.safari select.select{
	font-size:120% !important;
	margin:0 0 1px 0;
}
* html select.select{
	margin:1px 0;
}
*+html select.select{
	margin:1px 0;
	border:1px solid red;
}

/* ----- FILES ----- */

li.file a{
	color:#222;text-decoration:none;
}
li.file span{
	display:inline;float:none;
}
li.file img{
	display:block;float:left;margin:0 0 0 -10px;padding:5px 5px 7px 5px;
}
li.file .file-size, li.file .file-type{
	color:#666;font-size:85%;text-transform: uppercase;
}
li.file .file-name{
	display:block;
	padding:14px 0 0 0;
	color:blue;
	text-decoration:underline;
}
li.file .file-delete{
	color:red !important;font-size:85%;text-decoration:underline;
}
li.file a:hover .file-name{
	color:green !important;
}
li.file a:hover .file-name{
	color:green !important;
}

/* ----- BUTTONS ----- */

form li.buttons{
	position:relative;
	clear:both;
	padding-top:10px;
	width:97% !important;
}
form li.buttons input{
	font-size:100%;
	margin-right: 5px;
}
input.btTxt{
	padding:0 7px;
	width:auto;
	overflow:visible;
}
.safari input.btTxt{
	font-size:120%;
}
.buttons .marker{
	position:absolute;
	top:0;
	right:0;
	padding:15px 10px 0 0;
	color:#000;
}
button.link{
	display:inline-block;
	border:none;
	background:none;
	color:blue;
	text-decoration:underline;
	cursor:pointer;
	padding:0;
	font-size:100%;
}
button.link:hover{
	color:green;
}

/* ----- TEXT DIRECTION ----- */

.rtl .info h2, .rtl .info div, .rtl label.desc, .rtl label.choice, 
.rtl div label, .rtl span label, .rtl input.text, 
.rtl textarea.textarea, .rtl select.select, .rtl p.instruct, 
.rtl .section h3, .rtl .section div, .rtl input.btTxt{
	direction:rtl;
}

/* ----- SIZES ----- */

.third{
	width:32% !important;
}
.half{
	width:48% !important;
}
.full{
	width:100% !important;
}

input.small, select.small{
	width:25%;
	min-width:25%;
}
input.medium, select.medium{
	width:50%;
	min-width:50%;
}
input.large, select.large, textarea.textarea{
	width:100%;
	min-width:100%;
}
select.ieSelectFix{ /* IE8 */
	width:auto\9;
}
* html select.ieSelectFix{ /* IE6 Only */
	width:100%;
}
*+html select.ieSelectFix{ /* IE7 Only */
	width:100%;
}

textarea.small{
	height:5.5em;
}
textarea.medium{
	height:10em;
}
textarea.large{
	height:20em;
}

/* ----- ERRORS ----- */

/* errorLi, errorMsgLbl, and errorMsg used to be id statements rather
than class statements(chrism) */

.errorLi{
	width:99%;
	margin:15px auto 0 auto;
	background:#fff !important;
	border:1px solid red;
	margin-bottom:1em;
	text-align:center;
	padding:1em 0 1em 0;
	-webkit-border-radius:20px;
	-moz-border-radius:20px;
}
.errorMsgLbl{
	margin:0 0 5px 0;
	padding:0;
	font-size:125%;
	color:#DF0000 !important;
}
.errorMsg{
	margin:0 0 2px 0;
	color:#000 !important;
	font-size:100%;
}
.errorMsg strong{
	padding:2px 3px;
	background-color: #FFDFDF !important;
	color:red !important;
}
form li.error{
	display:block !important;
	background-color: #FFDFDF !important;
	margin-bottom:3px !important;
}
form li.error label, form li.error span.symbol{
	color:#000 !important;
}
form li.error label.desc{
	color:#DF0000 !important;
}
form p.error{
	display:none;
	margin:0 !important;
	padding:7px 0 0 0 !important;
	line-height:10px !important;
	font-weight:bold;
	font-size:10px;
	color:#DF0000 !important;
	clear:both;
}
form li.error p.error{
	display:block;
}
form li.complex p.error{
	padding:0 0 9px 0 !important;
}
.leftLabel p.error, .rightLabel p.error{
	margin-left:30%;
	padding-left:15px;
}
.noI .leftLabel p.error, .noI .rightLabel p.error{
	margin-left:35%;
	padding-left:15px;
}

/* ----- REQUIRED ----- */

form span.req{
	display:inline;
	float:none;
	color:red !important;
	font-weight:bold;
	margin:0;
	padding:0;
}

/* ----- INSTRUCTIONS ----- */

form li.focused{
	background-color:#fff7c0;
	-webkit-box-shadow:rgba(0,0,0,.15) 1px 1px 2px;
	-moz-box-shadow:rgba(0,0,0,.15) 1px 1px 2px;
}
form li.focused, form li:hover{
	position:relative; /* Makes Instructs z-index stay on top in IE. */
}
form .instruct{
 	position:absolute;
	top:0;
	left:0;
	z-index:1000;
/* 	width:42%; */
	width:25%;
	margin:0 0 0 8px;
	padding:8px 10px 10px 10px;
	border:1px solid #e6e6e6;
	background:#f5f5f5;
	visibility:hidden;
	font-size:105%;
}
form .instruct small{
	line-height:120%;
	font-size:80%;
	color:#444;
}
form li.focused .instruct, form li:hover .instruct{
	left:100%; /* Prevent scrollbars for IE Instruct fix */
	visibility:visible;
}

/* ----- ADVANCED CLASSNAMES ----- */

.hideSeconds .seconds, .hideAMPM .ampm{
	display:none;
}

/* ----- ALT INSTRUCTIONS ----- */

.altInstruct .instruct, li.leftHalf .instruct, li.rightHalf .instruct,
li.leftThird .instruct, li.middleThird .instruct, li.rightThird .instruct,
.iphone .instruct{
	visibility:visible;
	position:static;
	margin:0;
	padding:6px 0 0 0;
	width:100%;
	clear:left;
	background:none !important;
	border:none !important;
	font-style:italic;
}
.altInstruct p.complex , li.leftHalf p.complex, li.rightHalf p.complex,
li.leftThird p.complex, li.middleThird p.complex, li.rightThird p.complex,
.iphone p.complex{
	padding:0 0 9px 0;
}

/* ----- LABEL LAYOUT ----- */

.leftLabel li, .rightLabel li{
	width:74% !important;
	padding-top:9px;
}
.leftLabel label.desc, .rightLabel label.desc{
	float:left;
	width:29%;
	margin:0px 15px 0 0;
}
.rightLabel label.desc{
	text-align:right;
}
.leftLabel li div.col, .rightLabel li div.col,
.leftLabel li.complex div, .rightLabel li.complex div{
	float:left;
}

.leftLabel li div.col, .rightLabel li div.col,
.leftLabel li.complex div, .rightLabel li.complex div{
	width:63%;
	min-width:63%;
}
.leftLabel .small, .rightLabel .small{
	width:23%;
	min-width:23%;
}
.leftLabel .medium, .rightLabel .medium{
	width:55%;
	min-width:55%;
}
.leftLabel .large, .rightLabel .large,
.leftLabel textarea.textarea, .rightLabel textarea.textarea{
	width:97%;
	min-width:97%;
}

.leftLabel p.instruct, .rightLabel p.instruct{
	width:27%;
	margin-left:5px;
}
.leftLabel .altInstruct .instruct, .rightLabel .altInstruct .instruct{
	margin-left:29% !important;
	padding-left:15px;
	width:65%;
}


.leftLabel .buttons, .rightLabel .buttons{
	margin-left:15px;
}
* html .leftLabel .buttons, * html .rightLabel .buttons{
	margin-left:11px;
}
.leftLabel .buttons input, .rightLabel .buttons input{
	margin-left:22%;
}

/* ----- NO INSTRUCTIONS ----- */

.noI form li, .altInstruct form li{
	width:98% !important;
}
.noI form li.section, .altInstruct form li.section{
	padding-left:9px !important;
}

/* ----- NO INSTRUCTIONS LABEL LAYOUT ----- */

.noI .leftLabel label.desc, .noI .rightLabel label.desc{
	width:34%;
}
.noI .leftLabel .buttons input, .noI .rightLabel .buttons input{
	margin-left:34%;
}
* html .noI .leftLabel .buttons input, * html .noI .rightLabel .buttons input{
	margin-left:30%;
}

/* ----- HALVES AND THIRDS ----- */

form li.leftHalf, form li.rightHalf{
	width:46% !important;
}
form li.leftThird, form li.middleThird, form li.rightThird{
	width:31% !important;
}
li.leftHalf, li.leftThird{
	clear:left !important;
	float:left;
}
li.middleThird{
	clear:none !important;
	float:left;
}
li.rightHalf, li.rightThird{
	clear:none !important;
	float:right;
}
li.leftHalf .small, li.rightHalf .small,
li.leftHalf .medium, li.rightHalf .medium,
li.leftThird .small, li.middleThird .small, li.rightThird .small,
li.leftThird .medium, li.middleThird .medium, li.rightThird .medium{
	width:100%;
}

/* ----- CAPTCHA ----- */

form li.captcha {
	clear:both;
	border-top:1px dotted #ccc;
	margin-top:5px;
	padding-top:.9em;
	padding-bottom:9px;
	padding-left:9px;
	width:97% !important;
	position:static;
}
form li.captcha label.desc{
	text-align:left;
	margin-bottom:4px;
	float:none;
	width:auto !important;
}
#recaptcha_widget_div table{
	background:#fff;
}
form li.captcha .noscript iframe{
	border:none;
	overflow:hidden;
	margin:0;
	padding:0;
}
form li.captcha .noscript label.desc{
	display:block !important;
}
form li.captcha .noscript textarea{
	margin-left:12px;
}

/* ----- PAGINATION ----- */

form li.paging-context{
	clear:both;
	border-bottom:1px dotted #ccc;
	margin-bottom:7px;
	padding:5px 0 10px 0;
	width:100% !important;
	position:static;
}
.paging-context table{
	width:100%;
}

.pgStyle1 td{
	text-align:left;
	vertical-align:middle;
	padding:6px 0;
}
.pgStyle1 td.c{
	width:22px;
	padding:0 7px;
}
.pgStyle1 var{
	display:block;
	float:left;
	background:none;
	border:1px solid #CCC;
	color:#000;
	width:20px;
	height:20px;
	line-height:19px;
	text-align:center;
	-webkit-box-shadow:rgba(0,0,0,.15) 0px 1px 2px;
	-moz-box-shadow:rgba(0,0,0,.15) 0px 1px 2px;
	-webkit-border-radius:10px;
	-moz-border-radius:10px;
	font-size:85%;
	font-style:normal;
}
.pgStyle1 .done var{
	background:#ccc;
}
.pgStyle1 .selected var{
	background:#FFF7C0;
	color:#000;
	border:1px solid #e6dead;
	font-weight:bold;
}
.pgStyle1 b{
	display:block;
	padding:0;
	font-size:85%;
	font-weight:normal;
	color:#000;
}
.pgStyle1 .selected b{
	font-weight:bold;
}

.circle6 td, .circle7 td{
	vertical-align:top;
	text-align:center;
}
.nopagelabel td.t{
	display:none;
}
.nopagelabel .pgStyle1 var, .circle6 var, .circle7 var{
	width:24px;
	height:24px;
	line-height:24px;
	-webkit-border-radius:12px;
	-moz-border-radius:12px;
	font-size:90%;
	margin:0 auto 7px auto;
	float:none;
}
.nopagelabel .pgStyle1 var{
	margin-bottom:0;
}
.circle6 b, .circle7 b{
	padding:0;
}

.circle2 td{width:50%;}
.circle3 td{width:33%;}
.circle4 td{width:25%;}
.circle5 td{width:20%;}
.circle6 td{width:16.6%;}
.circle7 td{width:14.2%;}

.pgStyle2 td{
	vertical-align:middle;
	height:25px;
	border:1px solid #CCC;
	position:relative;
	-webkit-border-radius:14px;
	-moz-border-radius:14px;
	-webkit-box-shadow:rgba(0,0,0,.10) 1px 1px 1px;
	-moz-box-shadow:rgba(0,0,0,.10) 1px 1px 1px;
	padding:2px;
}
.pgStyle2 var{ /* Percentage Bar */
	display:block;
	height:26px;
	float:left;
	background:#FFF7C0;
	color:#000;
	font-style:normal;
	text-align:right;
	-webkit-border-radius:12px;
	-moz-border-radius:12px;
	-webkit-box-shadow:rgba(0,0,0,.15) 1px 0px 0px;
	-moz-box-shadow:rgba(0,0,0,.15) 1px 0px 0px;
}
.pgStyle2 var b{/* Percentage # */
	display:block;
	float:right;
	font-size:100%;
	padding:3px 10px 3px 3px;
	line-height:19px;
}
.pgStyle2 em{/* Page Title */
	font-size:85%;
	font-style:normal;
	display:inline-block;
	margin:0 0 0 9px;
	padding:4px 0;
	line-height:18px;
}
.pgStyle2 var em{
	padding:4px 5px 3px 0;
}
.page1 .pgStyle2 var{
	padding-left:7px;
	text-align:left;
	background:none;
	-webkit-box-shadow:none;
	-moz-box-shadow:none;
}
.page1 .pgStyle2 b{
	float:none;
	padding-right:0px;
}


.hideMarkers .marker, .nopagelabel .pgStyle1 b, .nopagelabel .pgStyle2 em, .hideSecondary #previousPageButton{
	display:none !important;
}

/* deform additions*/

img.deformClosebutton {
   border: 0;
   cursor: pointer;
   width: 1em;
   height: 1em;
   float: left;
   margin: .5em;
}

a.deformSeqAdd:visited {
   color: blue;
}

div.deformReplaces {
    float: left;
}
